@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

.sidebar {
    height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a{
    padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover{
    color:white;
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
}


.big {
    font-size: 50px;
}


.samuel{
    font-size: 60px;
    font-family: 'Bungee Spice', cursive;
    margin-left: 173px;
    position: relative;

    
}

.introduction{
    margin-left: 173px;
    position: relative;
    font-size: 30px;
}